KEY_JWT="rB5KrRZyzUfm1/q5XmcVrn4PFkTUcJFI+DrZPVM2dNbI5cWcjRyoXkm6NUGnH4h4WKmrMNwrt+hYP52hkiqcyo9YfAEv+P4BRlUQis464N+lnb8nTxXkKth8Ny1flfgr8ZiGPPlvxAB3AcnbC291wm8S39uqFudHzbpXcdUboAYhUz2FdBcUS//qVlKaG85lbRWcaA0+MisNBAXz8CuKO2B3dPiejSXm3n0F+jAYGbp7OA0Bf0R+S/TJY/CJdyiDG6V7WvHLCMMRwu8lpXW4Q4fWadgg1BezIqNcdgrUwwLmPiqEqQ7znwCUsMamFxfBptaaU15elqwxHMIz2fw5sA=="
REDIS_URL=redis://:pf5a95a275aab54f405efd03445d5fda0f6971b29f4eae03d4ccab2c87cd5671b@ec2-54-209-29-252.compute-1.amazonaws.com:13960